.aboutMe {
    
    background-image: url('https://i.pinimg.com/originals/27/0a/a9/270aa9c6ad9c9bbca3b4ae2844381fa5.gif');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.aboutMeText {
    padding-left: 25px;
}


.aboutMePhotoAndInfo {
    text-align: center;
}

.aboutMeInfo {
    border: 2px solid #333;   /* makes the rectangle */
    padding: 15px;           /* space between text and border */
    border-radius: 10px;     /* rounded corners (optional) */
    width: fit-content;      /* shrink box to fit text */

    margin: 20px auto; /* centers it horizontally */
    text-align: center; /* centers text inside */
}

.myPhoto {
    margin-top: 15px;
}